* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --text-color-menu-mobile: #e1e1e6;
  --bg-blur-1: url(/assets/blur-1.png);
  --bg-blur-2: url(/assets/blur-2.png);
  --logo-desk: url(/assets/logo-desktop.svg);
  --logo-mobile: url(/assets/logo-mobile.svg);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-blur-1) bottom left no-repeat,
    var(--bg-blur-2) top right no-repeat var(--background);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5% 0 5%;
  width: 100%;
  max-width: 1021px;
}

.menu-section {
  display: contents;
}

.logo {
  background: var(--logo-desk) center no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
}

.header nav > ul {
  color: var(--text-color);
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.header-btn {
  color: var(--text-color);
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 1.1rem 3.8rem;
  border: 0.1rem solid var(--button);
  border-radius: 0.6rem;
  background: none;
}

.menu-mobile {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.title {
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  width: 51.4rem;
  text-align: center;
  margin-top: 3.2rem;
}

.title:after {
  content: "<Great Code/>";
  color: transparent;
  -webkit-text-stroke: 0.2rem var(--button);
}

.coffee-img {
  width: 100%;
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .coffee-img {
    width: 80%;
  }
}

@media (max-width: 625px) {
  body {
    background: var(--bg-blur-1) bottom left no-repeat var(--background);
  }
  .header nav > ul {
    font-size: 1.4rem;
    gap: 1.8rem;
  }
  .header-btn {
    padding: 1rem 2rem;
  }
  .title {
    margin-top: 6rem;
  }
}

@media (max-width: 500px) {
  .logo {
    background-image: var(--logo-mobile);
    width: 21.4rem;
    height: 4rem;
  }
  .header {
    border-bottom: 1px solid var(--border);
    padding-bottom: 3rem;
  }
  nav,
  .header-btn {
    display: none;
  }
  .one,
  .two {
    background-color: var(--button);
    height: 2px;
    width: 100%;
    margin: 4px auto;

    transition-duration: 0.3s;
  }

  .two {
    width: 67%;
    margin: 0 8px;
  }

  .menu-mobile {
    display: block !important;
    width: 24px;
  }

  .menu-section.on {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--background);

    z-index: 10;
  }

  .menu-section.on .logo {
    margin: 3.8rem 2.5rem;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-mobile {
    position: absolute;
    right: 30px;
    top: 31px;
  }

  .menu-section.on .menu-mobile .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-mobile .two {
    width: 100%;
    transform: rotate(-45deg) translate(-8.7px, -3px);
  }

  .menu-section.on nav ul {
    text-align: left;
    display: block;
    font-size: 2.2rem;
    color: var(--text-color-menu-mobile);
  }

  .menu-section.on nav ul li:first-child {
    border-top: 1px solid var(--border);
    font-weight: bold;
    border-left: 5px solid var(--button);
  }

  .menu-section.on nav ul li {
    border-bottom: 1px solid var(--border);
    padding: 16px 0 16px 30px;
  }

  main {
    overflow: scroll;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    width: 54%;
    padding-top: 7rem;
  }

  .main-text {
    color: var(--text-color);
    text-align: center;
    font-family: Manrope;
    font-size: 22px;
    font-weight: 600;
  }

  .main-container .header-btn {
    display: block;
  }

  .title {
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    width: 36rem;
  }
}

@media (max-width: 431px) {
  body {
    background: url(/assets/blur-mobile.png) bottom center no-repeat,
      var(--background);
  }
}
